h1 {
    text-align: center;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

p {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}